* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.UnSeg {
  animation-delay: 1s; }

.UnPunDos {
  animation-delay: 1.2s; }

.UnPunSeis {
  animation-delay: 1.6s; }

.UnPunCua {
  animation-delay: 1.4s; }

.UnPunOch {
  animation-delay: 1.8s; }

.DosSeg {
  animation-delay: 2s; }

.DosDos {
  animation-delay: 2.2s; }

.DosCua {
  animation-delay: 2.4s; }

.blanco {
  background-color: white; }

.fondo-main {
  background-color: #292525; }

.blanco-claro {
  background-color: #e4dcdc; }

.gris-oscuro {
  background-color: #3d3939; }

.black {
  color: black; }

.white {
  color: white; }

.gris-iniciar {
  background-color: #292525; }

.blanco-iniciar {
  background-color: white; }

.hola {
  color: white; }

.chau {
  color: black; }

.cambiar-idioma {
  height: 50px;
  width: 50px; }

.check {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-top: 4px;
  display: none; }

.cross {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-top: 4px;
  display: none; }

.bien {
  color: #07b807;
  font-style: italic;
  display: none;
  margin-top: 5px;
  margin-left: 3px; }

.mal {
  color: red;
  font-style: italic;
  display: none;
  margin-top: 5px;
  margin-left: 3px; }

.alerta {
  text-decoration: none;
  color: white; }

.alerta:hover {
  color: white; }

/*#contra-valid{
    color: rgb(7, 184, 7);
    font-style: italic;
    display: none;
    margin-top: 5px;
    margin-left: 3px;
}
#contra-no-valid{
    color: red;
    font-style: italic;
    display: none;
    margin-top: 5px;
    margin-left: 3px;
}*/
.derecho {
  display: flex;
  flex-direction: row; }

#cerrar {
  color: red; }

#cerrar:hover {
  text-decoration: none;
  background-color: whitesmoke; }

#cerrarr {
  color: red; }

#cerrarr:hover {
  text-decoration: none;
  background-color: whitesmoke; }

#mis {
  color: black; }

#mis:hover {
  text-decoration: none;
  background-color: whitesmoke; }

#miss {
  color: black; }

#miss:hover {
  text-decoration: none;
  background-color: whitesmoke; }

#nop-registrado {
  background-color: #292525;
  color: white;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 100px; }

#persona2 {
  display: none;
  margin-top: 38px; }

#persona {
  margin-top: 38px; }

/*EXTENDS*/
main .felxx .grid-seccion .card .card-body .comprar-ahora {
  display: flex;
  justify-content: center;
  align-items: center; }

main .div-inicio-sesion .inicio-card .enter {
  display: flex;
  justify-content: center; }

main .div-inicio-sesion {
  display: flex;
  align-items: center; }

header {
  background-color: #292525;
  height: 80px; }
  header .cabeza {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    header .cabeza div {
      height: 80px;
      display: flex;
      align-items: center;
      margin-left: 30px; }
      header .cabeza div a {
        color: white;
        text-decoration: none; }
        header .cabeza div a #titulo {
          font-size: 27px; }
    header .cabeza div {
      height: 80px; }
      header .cabeza div a {
        color: white;
        text-decoration: none; }
        header .cabeza div a h2 {
          color: white; }
    header .cabeza div .div5 {
      padding-left: 50px;
      padding-top: 13px; }
      header .cabeza div .div5 a {
        text-decoration: none;
        color: white;
        transition: transform; }
      header .cabeza div .div5 a:hover {
        color: rgba(255, 166, 0, 0.993); }
    header .cabeza div .indexx {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      margin-right: 46px; }
      header .cabeza div .indexx .div6 {
        border: 2px solid rgba(255, 166, 0, 0.993);
        border-radius: 5px;
        background-color: rgba(255, 166, 0, 0.993);
        height: 30px;
        width: 100px;
        display: flex;
        justify-content: center;
        margin-left: 50px;
        margin-top: 9px; }
        header .cabeza div .indexx .div6 a {
          text-decoration: none;
          color: black;
          padding-top: 12px; }
        header .cabeza div .indexx .div6 a:hover {
          color: white; }
      header .cabeza div .indexx .nav-item {
        width: 100%; }
        header .cabeza div .indexx .nav-item .cambiar-idioma {
          height: 35px;
          width: 35px; }
    header .cabeza div .bi-brightness-high-fill {
      color: white; }
    header .cabeza div #luna {
      display: none; }

header .volver-inicio {
  background-color: #292525;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px; }
  header .volver-inicio a {
    text-decoration: none;
    color: white;
    padding-top: 20px;
    transition: transform; }
    header .volver-inicio a .fuente {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 35px; }
  header .volver-inicio a:hover {
    color: rgba(255, 166, 0, 0.993); }

/*EXTENDS*/
main .felxx .grid-seccion .card .card-body .comprar-ahora {
  display: flex;
  justify-content: center;
  align-items: center; }

main .div-inicio-sesion .inicio-card .enter {
  display: flex;
  justify-content: center; }

main .div-inicio-sesion {
  display: flex;
  align-items: center; }

main {
  background-color: #292525;
  border-top: 1px solid grey; }
  main .felxx {
    display: flex;
    justify-content: center;
    padding-top: 50px; }
    main .felxx .grid-seccion {
      display: grid;
      grid-template-columns: 330px 330px 330px;
      grid-template-rows: 400px 400px;
      column-gap: 15px;
      row-gap: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-bottom: 60px; }
      main .felxx .grid-seccion .grid:hover {
        border: 1px solid black;
        box-shadow: 0px 0px 5px 2px black; }
      main .felxx .grid-seccion .card .card-body {
        margin-left: 5px; }
        main .felxx .grid-seccion .card .card-body h5 {
          margin-top: 5px; }
        main .felxx .grid-seccion .card .card-body h6 {
          color: white;
          margin-top: 5px; }
        main .felxx .grid-seccion .card .card-body .comprar-ahora {
          border-radius: 5px;
          background-color: #eba524;
          height: 34px;
          width: 98%;
          margin-top: 28px;
          margin-left: 2px; }
          main .felxx .grid-seccion .card .card-body .comprar-ahora .boton {
            text-decoration: none;
            border: none;
            outline: none;
            background-color: #eba524; }
          main .felxx .grid-seccion .card .card-body .comprar-ahora a {
            text-decoration: none; }
            main .felxx .grid-seccion .card .card-body .comprar-ahora a h6 {
              margin-top: 3px;
              color: white;
              font-size: 22px; }
            main .felxx .grid-seccion .card .card-body .comprar-ahora a h6:hover {
              color: white; }
        main .felxx .grid-seccion .card .card-body .comprar-ahora:hover {
          background-color: #eba524; }
        main .felxx .grid-seccion .card .card-body .bajar {
          margin-top: 12px;
          margin-left: 2px; }
        main .felxx .grid-seccion .card .card-body .bi-clock-fill {
          margin-top: -4px;
          margin-right: 3px; }
        main .felxx .grid-seccion .card .card-body .horizontal {
          display: flex;
          flex-direction: row; }
          main .felxx .grid-seccion .card .card-body .horizontal .px {
            margin-left: 5px; }

main .div-inicio-sesion {
  background-color: #292525;
  padding-top: 170px;
  color: white;
  flex-direction: column; }
  main .div-inicio-sesion #h2-reg {
    margin-left: -305px; }
  main .div-inicio-sesion .iniciar-texto {
    text-align: center;
    font-size: 40px; }
  @media screen and (max-width: 851px) {
    main .div-inicio-sesion .iniciar-texto {
      font-size: 32px; } }
  main .div-inicio-sesion .registrarse-texto {
    color: white; }
  @media screen and (max-width: 389px) {
    main .div-inicio-sesion .registrarse-texto {
      text-align: center; } }
  main .div-inicio-sesion .inicio-card {
    display: flex;
    flex-direction: column; }
    main .div-inicio-sesion .inicio-card .correo {
      padding-top: 124px;
      margin-bottom: 8px; }
    @media screen and (max-width: 851px) {
      main .div-inicio-sesion .inicio-card .correo {
        padding-right: 00px; } }
    main .div-inicio-sesion .inicio-card .barra-correo {
      height: 32px;
      width: 300px;
      border: 2px solid grey;
      border-radius: 5px;
      padding-left: 5px; }
    @media screen and (max-width: 851px) {
      main .div-inicio-sesion .inicio-card .barra-correo {
        margin-right: 00px; } }
    main .div-inicio-sesion .inicio-card .contra {
      padding-top: 50px;
      margin-bottom: 8px; }
    @media screen and (max-width: 851px) {
      main .div-inicio-sesion .inicio-card .contra {
        margin-left: 00px; } }
    main .div-inicio-sesion .inicio-card .enter {
      border: 2px solid rgba(255, 166, 0, 0.993);
      border-radius: 5px;
      background-color: rgba(255, 166, 0, 0.993);
      height: 30px;
      width: 300px;
      margin-top: 50px;
      margin-bottom: 280px;
      margin-right: 500px; }
      main .div-inicio-sesion .inicio-card .enter a {
        text-decoration: none; }
        main .div-inicio-sesion .inicio-card .enter a p {
          color: black;
          transition: transform; }
        main .div-inicio-sesion .inicio-card .enter a p:hover {
          color: white; }
    @media screen and (max-width: 851px) {
      main .div-inicio-sesion .inicio-card .enter {
        margin-right: 00px; } }

#footer {
  background-color: #1f1d1d;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px; }
  #footer .carrito .espacio {
    padding-top: 50px; }
  #footer .carrito #carrito {
    background-color: #1f1d1d; }
  #footer .carrito #terminar {
    margin-top: 10px; }
