#footer{
    //background-color: bisque;
    background-color: rgb(31, 29, 29);
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    .carrito{
        .espacio{
            padding-top: 50px;
        }
        #carrito{
            //background-color: bisque;
            background-color: rgb(31, 29, 29);
        }
        #terminar{
            margin-top: 10px;
        }
    }
}