@import "../base/maps-extends";
main{
    background-color: rgb(41, 37, 37);
    border-top: 1px solid grey;
    .felxx{
        display: flex;
        justify-content: center;
        padding-top: 50px;
        .grid-seccion{
            display: grid;
            grid-template-columns: 330px 330px 330px;
            grid-template-rows: 400px 400px;
            column-gap: 15px;
            row-gap: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 60px;
            .grid:hover{
                border: 1px solid black;
                box-shadow: 0px 0px 5px 2px black;
            }
            .card{
                //background-color: rgb(61, 57, 57);
                //background-color: rgb(173, 162, 162);
                .card-body{
                    margin-left: 5px;
                    h5{
                        margin-top: 5px;
                    }
                    h6{
                        color: white;
                        margin-top: 5px;
                    }
                    p{
                        //color: white;
                    }
                    .comprar-ahora{
                        border-radius: 5px;
                        background-color: rgb(235, 165, 36);
                        height: 34px;
                        width: 98%;
                        @extend %flex;
                        margin-top: 28px;
                        margin-left: 2px;
                        .boton{
                            text-decoration: none;
                            border: none;
                            outline: none;
                            background-color: rgb(235, 165, 36);
                        }
                        a{
                            text-decoration: none;
                            h6{
                                margin-top: 3px;
                                color: white;
                                font-size: 22px;
                            }
                            h6:hover{
                                color: white;
                            }
                        }
                    }
                    .comprar-ahora:hover{
                        background-color: rgb(235, 165, 36);
                    }
                    .bajar{
                        margin-top: 12px;
                        margin-left: 2px;
                    }
                    .bi-clock-fill{
                        margin-top: -4px;
                        margin-right: 3px;
                    }
                    .horizontal{
                        display: flex;
                        flex-direction: row;
                        .px{
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}
main{
    
    .div-inicio-sesion{
        background-color: rgb(41, 37, 37);
        padding-top: 170px;
        color: white;
        @extend %flexTres;
        flex-direction: column;
        #h2-reg{
            margin-left: -305px;
        }
        .iniciar-texto{
            text-align: center;
            font-size: 40px;
        }
        @media screen and (max-width: 851px){
            .iniciar-texto{
                font-size: 32px;
            }
        }
        .registrarse-texto{
            color: white;
        }
        @media screen and (max-width: 389px){
            .registrarse-texto{
                text-align: center;
            }
        }
        .inicio-card{
            display: flex;
            flex-direction: column;
            .correo{
                padding-top: 124px;
                margin-bottom: 8px;
            }
            @media screen and (max-width: 851px){
                .correo{
                    padding-right: 00px;
                }
            }
            .barra-correo{
                height: 32px;
                width: 300px;
                border: 2px solid grey;
                border-radius: 5px;
                padding-left: 5px;
            }
            @media screen and (max-width: 851px){
                .barra-correo{
                    margin-right: 00px;
                }
            }
            .contra{
                padding-top: 50px;
                margin-bottom: 8px;
            }
            @media screen and (max-width: 851px){
                .contra{
                    margin-left: 00px;
            
                }   
            }
            .enter{
                border: 2px solid rgba(255, 166, 0, 0.993); 
                border-radius: 5px;
                background-color: rgba(255, 166, 0, 0.993);
                height: 30px;
                width: 300px;
                @extend %flexDos;
                margin-top: 50px;
                margin-bottom: 280px;
                margin-right: 500px;
                a{
                    text-decoration: none;
                    p{
                        color: black;
                        transition: transform;
                    }
                    p:hover{
                        color: white;
                    }
                }
            }
            @media screen and (max-width: 851px){
                .enter{
                    margin-right: 00px;
            
                }  
            }
        }
    }
}