*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.UnSeg{
    animation-delay: 1s;
}

.UnPunDos{
    animation-delay: 1.2s;
}
.UnPunSeis{
    animation-delay: 1.6s;
}
.UnPunCua{
    animation-delay: 1.4s;
}
.UnPunOch{
    animation-delay: 1.8s;
}
.DosSeg{
    animation-delay: 2s;
}
.DosDos{
    animation-delay: 2.2s;
}
.DosCua{
    animation-delay: 2.4s;
}

.blanco{
    background-color: white;
}
.fondo-main{
    background-color: rgb(41, 37, 37);
}
.blanco-claro{
    //background-color: rgb(173, 162, 162);
    background-color: rgb(228, 220, 220);
}
.gris-oscuro{
    background-color: rgb(61, 57, 57);
}
.black{
    color: black;
}
.white{
    color: white;
}