*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.UnSeg{
    animation-delay: 1s;
}

.UnPunDos{
    animation-delay: 1.2s;
}
.UnPunSeis{
    animation-delay: 1.6s;
}
.UnPunCua{
    animation-delay: 1.4s;
}
.UnPunOch{
    animation-delay: 1.8s;
}
.DosSeg{
    animation-delay: 2s;
}
.DosDos{
    animation-delay: 2.2s;
}
.DosCua{
    animation-delay: 2.4s;
}

.blanco{
    background-color: white;
}
.fondo-main{
    background-color: rgb(41, 37, 37);
}
.blanco-claro{
    //background-color: rgb(173, 162, 162);
    background-color: rgb(228, 220, 220);
}
.gris-oscuro{
    background-color: rgb(61, 57, 57);
}
.black{
    color: black;
}
.white{
    color: white;
}
.gris-iniciar{
    background-color: rgb(41, 37, 37);
}
.blanco-iniciar{
    background-color: white;
}
.hola{
    color: white;
}
.chau{
    color: black;
}
.cambiar-idioma{
    height: 50px;
    width: 50px;
}
.check{
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: 4px;
    display: none;
}
.cross{
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: 4px;
    display: none;
}
.bien{
    color: rgb(7, 184, 7);
    font-style: italic;
    display: none;
    margin-top: 5px;
    margin-left: 3px;
}
.mal{
    color: red;
    font-style: italic;
    display: none;
    margin-top: 5px;
    margin-left: 3px;
}
.alerta{
    text-decoration: none;
    color: white;
}
.alerta:hover{
    color: white;
}
/*#contra-valid{
    color: rgb(7, 184, 7);
    font-style: italic;
    display: none;
    margin-top: 5px;
    margin-left: 3px;
}
#contra-no-valid{
    color: red;
    font-style: italic;
    display: none;
    margin-top: 5px;
    margin-left: 3px;
}*/
.derecho{
    //width: 450px;
    display: flex;
    flex-direction: row;
}
#cerrar{
    color: red;
}
#cerrar:hover{
    text-decoration: none;
    background-color: whitesmoke;
}
#cerrarr{
    color: red;
}
#cerrarr:hover{
    text-decoration: none;
    background-color: whitesmoke;
}
#mis{
    color: black;
}
#mis:hover{
    text-decoration: none;
    background-color: whitesmoke;
}
#miss{
    color: black;
}
#miss:hover{
    text-decoration: none;
    background-color: whitesmoke;
}
#nop-registrado{
    background-color: rgb(41, 37, 37);
    color: white;
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 100px;
}
#persona2{
    display: none;
    margin-top: 38px;
}
#persona{
    margin-top: 38px;
}